#home {
	.hero-section {
		background-color: var(--bg-soft-gray);

		.hero-wrapper {
	        display: flex;
        	align-items: center;

        	img {
        		width: 400px;
        		margin: 80px;
        	}

        	.text {
        		width: 50%;
        		margin-left: 50px;

        		.title {
        			font-size: 50px;
        			color: var(--prime-color);
        			margin-bottom: 30px;
        		}

        		.description {
        			font-size: 25px;
        		}
        	}
		}
	}

	.about-us {
		.about-us-wrapper {
	        display: flex;
        	align-items: center;

        	img {
        		width: 400px;
        		margin: 80px;
        	}

        	.text {
        		width: 50%;
        		margin-left: 50px;

        		.title {
        			font-size: 50px;
        			color: var(--prime-color);
        			margin-bottom: 30px;
        		}

        		.description {
        			font-size: 25px;
        		}
        	}
		}
	}
}
