#products {
    .hero-banner {
        background-image: url('../../assets/products/hero-banner.png');
        height: 500px;
        background-size: cover;
        background-position: center;

        .blur-back-dark {
            height: 100%;
            background-color: #333333b3;

            .container {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #FFFFFF;
                font-size: 40px;
            }
        }
    }

    .product-section {
        margin-bottom: 50px;

        .section-heading {
            font-weight: 900;
            font-size: 28px;
            margin-top: 50px;
            padding: 20px 0;
            text-align: left;
            text-underline-offset: 8px;
        }

        .product-list {
            display: grid;
            grid-template-columns: repeat(auto-fit, 250px);
            gap: 50px;
            padding: 20px;
            width: 100%;
            overflow: hidden;
            position: relative;
            transition: transform 0.3s ease-in-out;
            cursor: pointer;

            .product-card {
                border-radius: 10px;
                box-shadow: 0px 0px 20px 0px #000000b3;
                text-align: center;
                padding: 10px;
                position: relative;

                .image-wrapper {
                    width: 100%;
                    height: 200px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                        object-fit: contain;
                    }
                }

                h4 {
                    font-size: 20px;
                    font-weight: 600;
                    margin: 10px;
                }

                p {
                    font-size: 16px;
                    margin-top: 5px;
                }

                .btn-wrapper {
                    border-radius: 10px;
                    position: absolute;
                    inset: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #00000055;
                    opacity: 0;
                    transition: opacity 0.3s ease-in-out;


                    button {
                        padding: 10px 20px;
                        font-size: 16px;
                        color: #FFFFFF;
                        background: var(--prime-color);
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        transition: background 0.3s;
                    }
                }
            }

            .product-card:hover .btn-wrapper {
                opacity: 1;
            }
        }


        @media (max-width: 768px) {
            .product-list {
                gap: 0px;
                padding: 0 20px;
                width: 100%;
                grid-template-columns: 100%;

                .product-card {
                    width: 100%;
                    margin: 25px 0;

                    img {
                        width: 50%;
                    }
                }
            }
        }
    }

    .modal-content {
        .product-slider {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .slide {
                flex: 1;
                padding: 30px;
                border-radius: 10px;
                transition: all 0.3s ease-in-out;
                justify-content: center;
                align-items: center;

                .image-wrapper {
                    width: 200px;
                    height: 200px;
                    overflow: hidden;
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                        object-fit: contain;
                    }
                }

                .information {
                    width: 250px;
                    display: inline-block;
                    box-sizing: border-box;

                    h4 {
                        font-size: 18px;
                    }
                }
            }

            .arrow,
            .disable-arrow {
                position: relative;
                background: transparent;
                border: none;
                font-size: 24px;
                cursor: pointer;
                transition: background 0.3s;
                color: #333333;
            }

            .disable-arrow {
                color: #727272;
                cursor: default;
            }

            .arrow:hover {
                color: #000000;
            }

            .arrow * {
                cursor: pointer;
            }

            @media (max-width: 768px) {
                .slide {
                    flex-direction: column;
                    text-align: center;
                    padding: 0;
                }
            }
        }
    }
}