footer {
	background-color: #000000;
	color: #FFFFFF;

	.footer-wraper {
		display: flex;
		justify-content: space-between;
		margin: 50px 0 80px;

		div {
			.title {
				font-size: 22px;
				font-weight: 500;
				text-decoration: underline;
				text-underline-offset: 5px;
				margin-bottom: 20px;
			}

			ul li {
				list-style-type: none;
				margin-top: 10px;

				a {
					cursor: pointer;
					color: #FFFFFF;
				}
			}
		}

		.company {
			width: 500px;

			img {
				width: 200px;
			}

			p {
				margin-top: 10px;
			}
		}

		@media (max-width: 768px) {
			display: block;
			margin: 50px 0;

			div {
				margin-bottom: 25px;

				.title {
					font-size: 20px;
				}

				ul li a {
					font-size: 16px;
				}
			}

			.company {
				width: 100%;
			}
		}
	}
}