* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    font-family: 'Poppins', sans-serif;
}

:root {
    --prime-color: #50BE3C;
/*    #312F2F*/
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}