* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    font-family: 'Poppins', sans-serif;
}

:root {
    --prime-color: #50BE3C;
    --soft-gray: #E3E3E3;
    --dark-gray: #312F2F;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.line {
    display: block;
    height: 3px;
    min-width: 10px;
    border-bottom: 3px;
    background-color: var(--prime-color);
}

.container {
    width: 80%;
    height: 100%;
    max-width: 1520px;
    margin: auto;
    overflow-x: hidden;
}

.section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: var(--prime-color);
    text-underline-offset: 5px;
}

.blur-back-dark {
    height: 100%;
    background-color: #333333b3;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}