* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    font-family: 'Poppins', sans-serif;
}

:root {
    --prime-color: #50BE3C;
    --soft-gray: #E3E3E3;
    --dark-gray: #312F2F;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    height: 100%;
    max-width: 1520px;
    margin: auto;
    overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}
